body {
    background-color: #E1E2E7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    max-width: 500px;
    margin: auto;
    padding: 20px 50px;
}

form input, form select, form textarea{
    padding: 10px 15px;
    border: 1px #EBE6EA solid;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 15px;
}

form textarea{
    resize: none;
}

form select {
    width: 106%;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #222;
    border-radius: 4px;
}

button:hover {
    background-color: #303030;
    cursor: pointer;
}